
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.ABOUT,
.PRICES,
.SIGN-UP,
.CONTACT_US {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.PRICES {

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #010000;
  font-size: 100px;
}

.CONTACT_US {

  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #0b0000;
  font-size: 100px;
}

.ABOUT {
 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #040000;
  font-size: 100px;
}

.SIGN-UP {
 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #0b0b0b;
  font-size: 100px;
}
